<header class="container header">
  <a class="c-header__skip" href="#main">skip to content</a>

  <h1 class="c-header__title">
    <a class="c-header__link c-header__link--title" href="{{ site.baseurl }}/">raina shannon</a>
  </h1>

  <nav class="">
    <a class="c-header__link c-header__link--nav link{% if page.url == '/' %} c-header__link--active {% endif %}" href="{{ site.baseurl }}/">portfolio</a>
    <a class="c-header__link c-header__link--nav link{% if page.url == '/about' %} c-header__link--active {% endif %}" href="{{ site.baseurl }}/about">about</a>
    <a class="c-header__link c-header__link--nav link{% if page.url == '/art-collection' %} c-header__link--active {% endif %}" href="{{ site.baseurl }}/art-collection">just for fun</a>
  </nav>
</header>
