a {
  color: $primary;
  text-decoration: none;
  @include transition(color $transition-time $easeInOutQuart);
}

a:hover,
a:active {
  color: $alternate;
}

a:hover {
  img {
    transform: translate(0, -4px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
}
