.o-grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.o-grid > .o-grid__item {
  flex: 1;
  flex-grow: 4;
  padding-left: 1%;
  padding-right: 1%;

  &:first-child {
    margin-left: -1%;
  }

  &:last-child {
    margin-right: -1%;
  }
}

.o-grid--post {
  margin-bottom: 2%;
}

.o-grid--top-align {
  align-items: flex-start;
}

.o-home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2%;
}

@media #{$medium-up} {
  .o-home-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media #{$about-content-grid} {
  .o-grid--about,
  .o-grid--post {
    display: block;
  }

  .o-grid--about > .o-grid__item,
  .o-grid--post > .o-grid__item {
    padding-left: 0;
    padding-right: 0;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .o-grid__item--margin-bottom {
    margin-bottom: 2%;
  }
}

.o-grid__item--order-1 {
  order: 1;
  margin-left: -1%;
  margin-right: initial !important;
}

.o-grid__item--order-2 {
  order: 2;
  margin-left: initial !important;
  margin-right: -1%;
}
