.container {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.grid-3x3 {
  --auto-grid-min-size: 11rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1.5rem;
}

figcaption {
  font-weight: 600;
  font-size: 1.2rem;
}

.figure-link {
  color: black;
}

.figure-link:hover {
  color: $primary;
}

// Header

.header {
  text-align: center;
}

@media screen and (min-width: 40em) {
  .grid-3x3 {
    --auto-grid-min-size: 20rem;
  }

  .header {
    text-align: initial;
    align-items: baseline;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}


strong,
em {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.c-about p {
  max-width: 45ch;
}

.square-images figure {
  text-align: center;
}

.square-images figure img {
  width: 20.3125rem;
  height: 20.3125rem;
  object-fit: cover;
}

@media screen and (min-width: 60em) {
  .column-2 {
    column-count: 2;
    column-gap: 1rem;
  }
}

.center-image {
  display: flex;
  align-items: center;
}
