---
layout: default
---
<article class="">

  <header class="">
    <h1 class="c-post__title">{{ page.title }}</h1>
  </header>

  <div class="o-grid o-grid--post">
    <div class="o-grid__item o-grid__item--order-2 center-image">
      <img style="margin-bottom: 2.5rem;" class="c-post__image" src="{{ site.baseurl }}{{ page.image }}" alt="{{ page.title }}">
    </div>
  </div>

  <div class="o-grid o-grid--post">
    <div class="o-grid__item c-post__text">
      <div>
        <p style="font-size: 1.5rem; padding: 1rem;" class="c-post__paragraph">{{ page.description }}</p>
      </div>
    </div>
  </div>

  <div>
    <a class="" href="{% link _portfolio/art.html %}">
      Back to Art
    </a>
  </div>

</article>
