---
layout: default
---
<article class="container c-post">

  <header class="c-post__header">
    <h1 class="c-post__title" itemprop="name headline">{{ page.title }}</h1>
  </header>

  <div class="c-post__content" itemprop="articleBody">
    {{ content }}

    <div>
      {% if page.collection == "visual_design" %}
        <a class="c-post__return-link" href="{% link _portfolio/visual-design.html %}">
          Back to Visual Design
        </a>
      {% else %}
        <a class="c-post__return-link" href="{% link index.html %}">
          Back to Portfolio
        </a>
      {% endif %}
    </div>
  </div>

</article>
