---
layout: default
---
<article class="container c-post">

  <header class="c-post__header">
    <h1 class="c-post__title" itemprop="name headline">{{ page.title }}</h1>
  </header>

  <div class="c-post__content" itemprop="articleBody">
    {{ content }}

    <div>
      {% if page.url contains "projects" %}
        <a class="c-post__return-link" href="{{ site.baseurl }}/art-collection">Back to just for fun</a>
      {% else %}
        <a class="c-post__return-link" href="{{ site.baseurl }}/">Back to Portfolio</a>
      {% endif %}
    </div>
  </div>

</article>
